body {
    margin: 0;
    padding: 0;
    font-size: 24px;
    background-image: linear-gradient(90deg, #41295a, #2f0743);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
ul {
    list-style-type: none;
}
svg {
    cursor: default;
}

path {
    cursor: pointer;
}
fieldset {
    border: none;
    margin: 0;
    margin-left: 36px;
}
label,
input {
    cursor: pointer;
}
label {
    cursor: default;
}
input {
    cursor: auto;
}
input[type='checkbox'],
label {
    cursor: pointer;
}
button {
    cursor: pointer;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}
button {
    border: none;
}

.form_auth-btn__small,
.menu-list_auth-btn,
.menu-list_home-btn,
button.filter_btn {
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
        0 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
        0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
        0 1px 2px rgba(0, 0, 0, 0.08);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
    cursor: pointer;
    outline: none;
    border: none;
    height: 40px;
    font-size: 20px;
    width: 100%;
    border-radius: 10px;
}

button.form_auth-btn,
button.menu-list_auth-btn a,
button.menu-list_home-btn a,
button.filter-reset a,
.film-details a {
    display: inline-block;
    padding: 10px;
}

button {
    background-color: #6100c2;
    padding: 0;
}

button.menu-list_auth-btn:hover,
button.menu-list_home-btn:hover,
button.filter_btn:hover,
.comeIn-btn:hover {
    background-color: #5801b0;
}
