.authorization-block {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    color: white;
}
.authorization-block.active {
    opacity: 1;
    pointer-events: all;
}
.wrapper {
    position: relative;
}

.form-authorization {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color: #21201e;
    margin: 0px auto;
    padding: 30px;
    border-radius: 20px;
    font-size: 30px;
}

.close-modal_window {
    border-radius: 20px;
    position: absolute;
    background-color: inherit;
    top: 0;
    right: 0;
    cursor: pointer;
    color: white;
}

form input {
    display: block;
}

.submit_btn {
    display: block;
    margin-top: 20px;
}

.sign-in_title {
    margin: 20px 0 5px 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}

.input-form {
    margin: 10px 40px;
    text-align: center;
}

.input-form input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    outline: none;
    border: 1px solid #fff;
    background: none;
    color: #fff;
}

.input-form input[type='text']:focus,
.input-form input[type='password']:focus {
    border: 1px solid #6100c2;
}

.close-modal-window {
    transition: 0.5s;
}

.close-modal-window:hover {
    fill: #ffaa00;
}

button.auth-btn_small.auth-btn_small {
    width: 30%;
    margin-top: 5px;
}
